.title {
    font-family: 'Niconne', cursive;
    font-size: 5em;
}
.imagen-principal {
    background-color: white;
}
.imagen-inline {
    display: inline !important;
}
.container {
    background-color: silver;
}
